# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used in Data Science
- Commonly used libraries in Data Science
- Tools used in Data Science
- Arithmetic Expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Numpy
3. Matplotlib

|Data Science Tools|
|------------------|
| Jupyter Notebook|
| Apache Zeppelin|
| R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Hemanth Posham